<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/beans" 
xmlns:mvc="http://www.springframework.org/schema/mvc" 
xmlns:context="http://www.springframework.org/schema/context"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx.xsd 
">

<!-- 1、Controller接口类型，配置处理器Handle，映射"/firstController"-->
<!-- <bean name="/FirstController" class="com.itheima.controller.FirstController" /> -->
<!-- 处理器映射器，将处理器Handle的name作为url进行查找 -->
<!-- <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" /> -->
<!-- 处理器适配器，配置对处理器中handleRequest()方法的调用 -->
<!-- <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/> -->

<!-- 2、注解类型，指定需要扫描的包 -->
<context:component-scan base-package="com.itheima.controller"/>
<!-- 定义视图解析器 -->
<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!-- 设置前缀 -->
<property name="prefix" value="/WEB-INF/jsp/" />
<!-- 设置后缀 -->
<property name="suffix" value=".jsp" />

</bean>
<!-- 显示的装配自定义类型转换器 -->
<mvc:annotation-driven conversion-service="convsersionService"/>
<!-- 配置静态资源的访问映射，此配置中的文件，将不被前端控制器拦截 -->
<mvc:resources location="/WEB-INF/js/" mapping="/WEB-INF/js/**"></mvc:resources>
<!-- 自定义类型转换器配置 -->
<bean id="convsersionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
<property name="converters">
<set>
<bean class="com.iteheima.convert.DateConverter"></bean>
</set>
</property>
</bean>
<!-- 配置文件上传解析器 MultipartResolver -->
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
<!-- 设置请求编码格式 -->
<property name="defaultEncoding" value="UTF-8"></property>
</bean>
</beans>