<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<!-- 属性注入，set 方式 -->
	<bean name="user" class="com.itcast.Bean.User">
		<property name="name" value="Tom"></property>
		<property name="age" value="20"></property>
		<!-- 为car属性注入下方car对象的配置 -->
		<property name="car" ref="car"></property>
	</bean>

	<!-- 将car 对象交给spring容器管理 -->	
	<bean name="car" class="com.itcast.Bean.Car">
		<property name="name" value="BMW"></property>
		<property name="color" value="Yellow"></property>
	</bean>
	<!-- ============================================== -->
	<!-- 属性注入，构造函数 方式 -->
	
	<bean name="user3" class="com.itcast.Bean.User">
	 <constructor-arg name="name" value="2" index="0" type="java.lang.Integer"></constructor-arg>
	 <constructor-arg name="car" ref="car" index="1"></constructor-arg>
	
	</bean>
	
</beans>